@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header part  */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  justify-self: center;
  z-index: 999;
  /* background: rgba(255, 255, 255, 0.2); */
  background-color: transparent;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px);
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}

header img {
  margin-left: 110px;
  margin-top: 8px;
  /* padding-right: 50px; */
}

.nav-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 110px;
  gap: 10px;
}

.nav-link ul li a {
  padding: 4.5px 10px;
  border-radius: 10px;
  /* padding-right: 30px; */
}

.nav-link ul li a:hover {
  background: rgba(100, 140, 166, 0.2);
  backdrop-filter: blur(90px);
  -webkit-backdrop-filter: blur(10px);
}

.nav-li ul {
  display: flex;
  /* padding-left:10px; */
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.last {
  padding: 4.5px 12px;
  border-radius: 15px;
}

.last .a1 {
  background-color: rgba(42, 42, 42, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Part ~ 1  */
.sec1 {
  background-image: url("https://www.mintlify.com/hero/bg-light.svg");
  z-index: -1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  min-height: 90vh; 
  padding-top: 4rem;
  /* top: -10rem; */
}

.sec1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0 0 0;
  background-color: #03334351;
  padding: 4px 8px 4px 4px;
  border-radius: 14px;
  justify-self: center;
}

.sec1 a span {
  padding: 2px 9px;
  font-size: 12px;
  background-color: #0c8c5e;
  border-radius: 14px;
}

.sec1 a p {
  font-family: "inter", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
}

.sec1 a i {
  font-size: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.sec1 h1 {
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-family: "inter", sans-serif;
  font-weight: 600;
  padding: 2.5rem 0 1rem 0;
}

.sec1 .para {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: "inter", sans-serif;
  font-weight: 400;
  opacity: 75;
  /* padding: em 0; */
}

.email-box {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  /* padding-top: 60px; */
  width: 370px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  margin-top: 2rem;
}

.email-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 8px 20px;
  font-size: 16px;
  color: #ffffff;
}

.email-box input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.email-box button {
  border: none;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 30px;
  background: #ffffff;
  color: #2b2c2c;
  font-size: 15px;
  font-weight: 500;
  transition: transform 0.2s ease;
}

.email-box button:hover {
  transform: scale(1.05);
}
.hero {
  margin: 85px 0;
  justify-self: center;
  /* border-radius: 100px; */
  padding: 0 1rem;
}

/* Trusted by the companies  */
.brands {
  background: #ffffff;
  padding: 80px 80px;
}

.brands-container {
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 30px;
  align-items: center;
  justify-items: center;
}

.brands-container img {
  height: 60px;
  opacity: 0.85;
}

/* Page ~ 2 */
.built-age {
  text-align: center;
  padding: 48px 70px;
}

.built-age h1 {
  font-size: 35px;
  font-family: "inter", sans-serif;
  font-weight: 600;
  padding: 2rem 0;
}

.built-age p {
  font-size: 16px;
  font-family: "inter", sans-serif;
  font-weight: 300;
}

.two-card { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.cardz {
  width: 420px;
  height: 450px;
  padding: 1rem 2rem;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  border: 0.5px solid rgba(165, 165, 165, 0.2);
}

.span {
  color: #0C8C5E;
  font-size: 10px;
  font-family: "inter", sans-serif;
  font-weight: 400;
}

.p {
  color: #393A3B;
  font-family: "inter", sans-serif;
  font-weight: 400;
  opacity: 0.5;
}

.h3 {
  color: #08090A;
  font-size: 20px;
  font-family: "inter", sans-serif;
  font-weight: 500;
}

.cardz img {
  width: 350px;
  height: 300px;
}

.assistent {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
  margin: 2rem 0;
  border: 1px solid rgba(165, 165, 165, 0.2);
  border-radius: 14px;
  width: 860px;
  gap: 0.5rem;
  justify-self: center;
}

/* Page ~ 3 */
.sec4 {
  background-color: #F7F7F7;
  padding-bottom: 1.5rem;
  /* margin: 2rem 0; */
}

.content {
  width: 60%;
  justify-self: center;
  padding: 4rem 0 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content h1 {
  font-size: 35px;
  font-family: "inter", sans-serif;
  font-weight: 500;
}
.txt{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txt a{
  padding: 7px 18px;
  font-size: 14px;
  border-radius: 30px;
  color: #ffffff;
  background-color: #08090A;
}

.txt-img{
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem 0;
  margin: 1.5rem 0 0 0;
}

/* Page ~ 4 */
.customers {
  max-width: 1100px;
  margin: 80px auto;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.eye {
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #16a085;
  font-weight: 600;
}

.customers h2 {
  font-size: 36px;
  margin: 12px 0;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  color: #555;
  max-width: 560px;
  margin: 0 auto 50px;
  line-height: 1.5;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border-radius: 18px;
  overflow: hidden;
  text-align: left;
  background: #000;
  color: #fff;
  display: flex;
  width: 350px;
  height: 290px;
  flex-direction: column;
  justify-content: flex-end;
}

.bg-1 {
  background-image: url("https://www.mintlify.com/_next/image?url=%2Fcustomers%2Fperplexity.png&w=640&q=75");
}
.bg-2 {
  background-image: url("https://www.mintlify.com/_next/image?url=%2Fcustomers%2Fx.png&w=640&q=75");
}
.bg-3 {
  background-image: url("	https://www.mintlify.com/_next/image?url=%2Fcustomers%2Fkalshi.png&w=640&q=75");
}

.card-logo {
  font-size: 26px;
  font-weight: 700;
  padding: 100px 24px 0;
}

.card-logo.x {
  font-size: 40px;
  font-weight: 300;
}

.card-logo.kalshi {
  font-size: 34px;
}

.card-text {
  padding: 16px 24px 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #eaeaea;
}

.read {
  padding: 0 24px 24px;
  font-size: 13px;
  color: #ddd;
}

.nav {
  margin-top: 40px;
}

.dot {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #eee;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

.dot.active {
  background: #111;
}

/* Page ~ 5 */
.cta {
  text-align: center;
  max-width: 900px;
  margin: 120px auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.cta h1 {
  font-size: 33px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.cta-sub {
  font-size: 16px;
  color: #555;
  margin-bottom: 32px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 50px;
}

.btn-primary {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.btn-secondary {
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
  padding: 8px 18px;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
}

.cta-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cta-card {
  padding: 40px 20px;
}

.cta-card:not(:last-child) {
  border-right: 1px solid #eee;
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #c2c2c2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  font-size: 22px;
}

.cta-card h3 {
  font-size: 18px;
  font-family: "inter", sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
}

.cta-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 14px;
}

.cta-card a {
  font-size: 14px;
  color: #0f9d58;
  text-decoration: none;
  font-weight: 500;
}

/* Footer  */
.footer {
  background: #fff;
  border-top: 1px solid #eee;
  margin-top: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
  border: 1px solid #eee;
  padding: 40px 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

.socials span {
  margin-left: 12px;
  color: #999;
  font-size: 14px;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 30px 0;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.footer-links h4 {
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #888;
  margin-bottom: 12px;
}

.footer-links a {
  display: block;
  font-size: 14px;
  color: #111;
  margin-bottom: 10px;
  cursor: pointer;
}

.security {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-weight: 500;
}

.badge {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #777;
}

/* bottom  */
.footer-bottom {
  display: flex;
  padding-bottom: 52px;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #666;
}

.copyright {
  background: #f6f6f6;
  padding: 6px 12px;
  /* padding-bottom: 40px; */
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}



/* Finallyyyy finishedddddddd!!!!!!!  */
/* Love Chai code  */